body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav a {
    margin-right: 10px;
}

.flashes {
    color: red;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    padding: 5px;
    text-align: left;
}